<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781948224721-23eqvh4lsvmodkltv3cgoujj4cs4hf62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781948224721-23eqvh4lsvmodkltv3cgoujj4cs4hf62</string>
	<key>API_KEY</key>
	<string>AIzaSyCCw0qSoNtukXu76c_m4Ir6Z1dNU69eS90</string>
	<key>GCM_SENDER_ID</key>
	<string>781948224721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>studio.artbase.HomeVision</string>
	<key>PROJECT_ID</key>
	<string>homevision-artbase</string>
	<key>STORAGE_BUCKET</key>
	<string>homevision-artbase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781948224721:ios:21631ad3bcc8d4ba8931f0</string>
	<key>DATABASE_URL</key>
	<string>https://homevision-artbase-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>